<div class="container" ng-controller="userRegistrationController">
    <h3>Регистрация пользователя</h3>
    <form ng-submit="tryToRegister()" novalidate>
        <input class="form-control" ng-model="registration.username" placeholder="Логин" type="text">
        <br>
        <input class="form-control" ng-model="registration.email" placeholder="Email" type="text">
        <br>
        <input class="form-control" ng-model="registration.password" placeholder="Пароль" type="password">
        <br>
        <input class="form-control" ng-model="registration.confirmation" placeholder="Повторите пароль" type="password">
        <br>
        <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
    </form>
</div>
