<div class="container" ng-controller="editProductController">
    <h3>Внести изменения в продукт</h3>
    <form ng-submit="updateProduct()" novalidate>
        <input class="form-control" ng-model="updated_product.id" placeholder="Идентификатор" type="number">
        <br>
        <input class="form-control" ng-model="updated_product.title" placeholder="Название" type="text">
        <br>
        <input class="form-control" ng-model="updated_product.price" placeholder="Цена" step="any" type="number">
        <br>
        <button class="btn btn-primary" type="submit">Сохранить изменения</button>
    </form>
</div>
