<div class="container" ng-controller="productInfoController">
    <h3>Информация о продукте</h3>
    <img src="..." class="img-thumbnail" alt="Пока еще нет фото продукта"><br><br>

    <p>
        <b>Идентификатор продукта : </b>{{product.id}}<br>
        <b>Наименование продукта  : </b>{{product.title}}<br>
        <b>Цена продукта          : </b>{{product.price}}<br>
    </p>
    <!-- ng-show="canUserComment(cm.user_id)" -->
    <div>
        <form id="commentForm" ng-submit="commentEdit(cm.id)">
<!--        <form id="commentForm" method="POST" action="?process-form">-->
            <label for="userCommentTextarea" class="form-label">Введите ваш комментарий</label>
            <div class="input-group">
                <textarea class="form-control" id="userCommentTextarea" rows="3"></textarea>
                <button class="btn btn-primary" style="right: auto" ng-click="commentEdit(product.id)" type="submit">Добавить</button>
            </div>
        </form>

    </div>
    <table class="table">
        <thead>
        <tr>
            <td>Комментарии</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="cm in comments">
            <td>{{'Пользователь: ' + cm.user_name + 'Время: ' + cm.createdAt + '\n' +cm.comment}}</td>
            <td>
                <button class="btn btn-primary" ng-click="commentEdit(cm.id)" ng-show="isUsersComment(cm.username)" type="button">Редактировать</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
